<div>
    <div class="modal-header flex-column">
        <h3 class="modal-title" id="modal-title">Delete this model?</h3>
        <small>This action cannot be undone!</small>
    </div>
    <!-- <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="item in $ctrl.items">
                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ $ctrl.selected.item }}</b>
    </div> -->
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
        <button class="btn btn-dark" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>