<div>
    <div class="row">
        <div class="form-group col-7">
            <input type="text" class="form-control" placeholder="Search Models" ng-model="modelSearch">
        </div>

        <div class="form-group col-3">
          <select class="form-control" ng-model="filterProject">
            <option value="">All Categories</option>
            <option ng-repeat="project in projects" value="{{project.id}}">{{project.displayName}}</option>
          </select>
        </div>
        <div class="form-group col-2">
            <!-- <button type="button" name="" id="" class="btn >New Model</button> -->
            <a name="" id="" class="btn btn-link" href="javascript:void(0)" ng-click="newModel()" role="button">New Model</a>
        </div>
    </div>
    <div class="list-group mb-3">
        <a ng-repeat="model in models | filter : filterModels" href="#!/models/{{model.id}}" class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-3">
                    <img class="img-fluid" ng-src="{{model.thumbnailUrl}}">
                </div>
                <div class="col-9">
                    {{model.displayName}}
                </div>
            </div>
        </a>
    </div>
</div>