<div>
    <h1 class="display-4">{{model.displayName}}</h1>
    <div class="container">
        <form>
            <div class="form-group row">
                <label for="displayName" class="col-sm-2 col-form-label">Display Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="displayName" ng-model="model.displayName">
                </div>
            </div>
            <div class="form-group row">
                <label for="project" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                    <select class="form-control" id="projects" ng-model="selectedProject"
                        ng-options="project.displayName for project in projects">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="techName" class="col-sm-2 col-form-label">Tech Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="techName" ng-model="model.techName">
                    <small class="text-muted">Tech name cannot have spaces. This will used be in the model hosted
                        URL.</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Thumbnail</label>
                <div class="col-sm-5">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="thumbnail">
                        <label class="custom-file-label" for="thumbnail">Choose Thumbnail</label>
                        <small class="text-muted">16X9 aspect ratio for the thumbnail works best</small>
                    </div>
                </div>
                <div class="col-sm-5">
                    <img class="img-fluid" ng-src="{{model.thumbnailUrl}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">glTF / glb</label>
                <div class="col-sm-8">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="thumbnail">
                        <label class="custom-file-label" for="thumbnail">Choose glTF or GLB file</label>
                        <small class="text-muted">Viewer and Android AR uses this format</small>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a name="" id="" class="btn btn-link text-dark" ng-href="{{model.gltfUrl}}" role="button"
                        ng-show="model.gltfUrl">Download <i class="fas fa-file-download"></i></a>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">USDZ</label>
                <div class="col-sm-8">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="thumbnail">
                        <label class="custom-file-label" for="thumbnail">Choose USDZ file</label>
                        <small class="text-muted">iOS AR uses this format</small>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a name="" id="" class="btn btn-link text-dark" ng-href="{{model.usdzUrl}}" role="button"
                        ng-show="model.usdzUrl">Download <i class="fas fa-file-download"></i></a>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-2">Hosted Webpage</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="isLive" ng-model="model.isLive">
                        <label class="form-check-label" for="isLive">
                            Is Live
                        </label>
                        <small class="text-muted">Create a hosted webpage for this model</small>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="isListed" ng-model="model.isListed">
                        <label class="form-check-label" for="isListed">
                            Is Listed
                        </label>
                        <small class="text-muted">Listed inside category page or accessible only with direct
                            link</small>
                    </div>
                </div>
            </div>


            <!-- <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                First radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                Second radio
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                                value="option3" disabled>
                            <label class="form-check-label" for="gridRadios3">
                                Third disabled radio
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset> -->
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>