@font-face {
	font-family: "Futura Bold";
	src: url("assets/fonts/Futura-ICG-Bold.ttf");
}

body {
    background-color: var(--light);
}

/* Navbar */
.navbar-logo > img {
    height: 40px;
}

.navbar-brand {
    font-family: "Futura Bold"
}

/* Shared */
.section-heading {
    font-family: "Futura Bold"
}

/* Footer */
footer {
    font-family: "Futura Bold";
    padding: 25px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
}

footer > a.polyview {
    color: #212529;
}

/* 404 */
#not-found {
    height:calc(100vh - 56px - 115px)
}

/* Project Gallery */
.project-item {
    cursor: pointer;
}

/* Model Page */
.viewer-container {
    padding-top: 50%;
    position: relative;
    margin: 0 20px;
}

.viewer-container .viewer-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .viewer-container {
        margin: 0;
    }
}