<nav class="breadcrumb-nav bg-dark">
    <a class="navbar-logo" href="{{customer.websiteUrl}}" target="_blank">
        <img ng-src="{{customer.logoUrl}}">
    </a>
    <ol class="breadcrumb bg-dark">
        <li class="breadcrumb-item" ng-class="{active : !project}"><a ng-href="{{customerHref}}">{{customer.displayName}}</a></li>
        <li ng-if="project" class="breadcrumb-item" ng-class="{active : !model}"><a ng-href="{{projectHref}}">{{project.displayName}}</a></li>
        <li ng-if="model" class="breadcrumb-item" ng-class="{active : model}">
            {{model.displayName}}&nbsp;<i ng-if="model" class="fas fa-info-circle" style="color:white" data-toggle="tooltip" title="Clicking on the image on iOS 12 will open an AR experience" data-placement="bottom"></i>
        </li>
    </ol>
</nav>
