<section ng-if="!notFound" class="bg-light">
    <div class="container">
        <!-- <div class="row pt-5">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{project.displayName}}</h2>
            </div>
        </div> -->
        <div class="row pt-5">
            <div class="col-md-4 my-3" ng-repeat="model in models">
                <div class="card project-item text-center" ng-click="openModel(model)">
                    <img class="card-img-top" ng-src="{{model.thumbnailUrl}}" alt="{{model.displayName}}">
                        <h5 class="card-title">{{model.displayName}}</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<div ng-if="notFound" ng-include="'app/shared/404.html'"></div>