<!doctype html>
<html lang="en" ng-app="adminApp">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Google's Model Viewer -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>

    <!-- Parse -->
    <script src="../node_modules/parse/dist/parse.min.js"></script>
    <script>
        Parse.serverURL = 'https://parseapi.back4app.com'; // This is your Server URL
        Parse.initialize(
            'b0oiXcJs4u7QGx8dA08kuSIHs9qkP8far3o9ZIcE', // This is your Application ID
            'NeokbBCMAWxomOjJgiXeduKrQLundR1nHLxAysbG' // This is your Javascript key
        );
    </script>

    <!-- Our Stuff -->
    <script src="app/app.js"></script>
    <script src="../app/shared/data-model/model.js"></script>
    <script src="../app/shared/data-model/project.js"></script>
    <script src="../app/shared/data-model/customer.js"></script>
    <script src="app/data-model/environment.js"></script>

    <link rel="stylesheet" href="style.css">

</head>

<body ng-controller="adminCtrl">

    <div class="container">
        <div class="row">
            <form class="col-md-4 pt-5">
                <div class="form-group row">
                    <label for="projects" class="col-3 col-form-label">Project</label>
                    <div class="col-9">
                        <select class="form-control" id="projects" ng-model="selectedProject" ng-change="onProjectSelected()"
                            ng-options="project.displayName for project in projects">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="models" class="col-3 col-form-label">Model</label>
                    <div class="col-9">
                        <select class="form-control models" id="models" ng-model="selectedModel" ng-change="onModelSelected()"
                            ng-options="model.displayName for model in models">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="intensity" class="col-3 col-form-label">Intensity</label>
                    <div class="col-9">
                        <input type="number" class="form-control" ng-model="intensity" min="0" max="1" step="0.05"
                            id="intensity">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="bg-color" class="col-3 col-form-label">BG Color</label>
                    <div class="col-9">
                        <input type="color" class="form-control" ng-model="bgColor" id="bg-color">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="environments" class="col-3 col-form-label">Environment</label>
                    <div class="col-9">
                        <select class="form-control" id="environments" ng-model="selectedEnvironment"
                            ng-change="onEnvironmentSelected()"
                            ng-options="environment.displayName for environment in environments">
                            <option value="">None</option>
                        </select>
                    </div>
                </div>
            </form>

            <div class="col-md-8">
                <div class="viewer-container">
                    <model-viewer src="{{selectedModelSecureUrl}}" environment-intensity="{{intensity}}" camera-controls
                        background-color="{{bgColor}}"></model-viewer>
                </div>
            </div>

        </div>
    </div>


</body>

</html>