
.viewer-container-outer {
    width: 80%;
    margin: auto;
}

.viewer-container {
    padding-top: 56.25%;
    position: relative;
    margin: 0 20px;
    margin: auto
}

.viewer-container > model-viewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
