<navbar-consumer></navbar-consumer>
<section class="bg-light">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">3D MODELS LIBRARY</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 my-3" ng-repeat="project in projects">
                <div class="card project-item text-center" ng-click="openProject(project)">
                    <img class="card-img-top" ng-src="{{project.thumbnailUrl}}" alt="{{project.displayName}}">
                        <h5 class="card-title">{{project.displayName}}</h5>
                </div>
            </div>
        </div>
    </div>
</section>