<div>
    <div class="modal-header flex-column">
        <h3 class="modal-title" id="modal-title">Delete this Category?</h3>
        <div class="alert alert-danger" role="alert">
            <strong>Note:</strong> All models inside this category will also be deleted
        </div>
        <small>This action cannot be undone!</small>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
        <button class="btn btn-dark" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>