<section class="bg-light">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{customer.displayName}}'s Projects</h2>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4 my-3" ng-repeat="(modelKey, model) in models">
                <div class="card demo-item text-center" ng-click="openModel(modelKey)">
                    <img class="card-img-top" ng-src="{{model.thumbnail}}" alt="Card image cap">
                        <h5 class="card-title">{{model.name}}</h5>
                </div>
            </div>
        </div> -->
    </div>
</section>