<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">New Category</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form class="mt-3">
            <div class="form-group row">
                <label for="displayName" class="col-sm-2 col-form-label">Display Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="displayName" ng-model="project.displayName">
                </div>
            </div>
            <div class="form-group row">
                <label for="techName" class="col-sm-2 col-form-label">Tech Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="techName" ng-model="project.techName">
                    <small class="text-muted">Tech name cannot have spaces. This will used be in the project
                        hosted URL.</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="create()">Create</button>
        <button class="btn btn-dark" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>